body {
 background-color: #222222;
}
.button {
 background-color: #4CAFFF;
}
.info{
  color: white;
  text-align: center;
  font-size:25px;

  position: fixed;
  width: 90%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
